.category {
  .filter, .event-list {
    display: flex;
    flex-wrap: wrap;
  }
  .filter {
    margin: 30px 0;
    justify-content: center;
    .filter-btn {
      margin: 10px;
      background-color: #b3b3ff;
      font-weight: bold;
      &:hover {
        background-color: #6666ff;
        color: white;
      }
    }
  }
  .event-list {
    justify-content: space-between;
  }
}