.Hero {
    background-image: url(/Users/sahil_21/Desktop/HackQuarantine/Dequarantine/FrontEnd/dequarantine/app/src/e80c0314ebdc0c8aa6f69e62f38a2bc3-700.jpg);
    max-width: 100%;
    height: 70%;
    align-content: center;
    ;
   
}

.buttonS {
   
    border-color: red($color: #000000);
    padding: 2;
    align-items: center;
}

.ButtonList {
    align-content: center;
}

.bCon {
    align-content: center;
}


