.App {
  margin: 0;
  background-color: #99e6ff;

  header {
    height: 100px;
    background-color: black;
    position: relative;
    .title {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 34px;
      font-weight: bold;
      color: white;
    }

    .dropdown {
      position: absolute;
      margin-right: 50px;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      .dropdown-btn {
        padding: 6px 16px;
        border-radius: 4px;
        font-size: 0.875rem;
        font-weight: bold;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        text-align: center;
        a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          &:hover {
            background-color: #ddd;
          }
        }
      }
      .show {
        display: block;
      }  
    }
  }
  section {
    padding: 0 50px;
  }
}

.login-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .google-button{
    width : 40%;
    display : flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .btn {
    width : 40%;
    }
}